h3{
	background-color: #595959;
	color: white;
	width: 800px;
}
body{
	margin-left: 200px;
}
 .img img{
	height: 150px;
	width: 150px;
	float:right;
	margin-right: 350px;
	margin-bottom: : 600px;
	
}
.alamin {
	float: right;
	margin-right: 400px;
	margin-bottom: : 600px;
}